@use "./mixins" as *;
@use "./variable" as *;
main {
  .hero {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    .parent {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 8px;
    }

    .div1 {
      grid-column: span 6 / span 6;
      grid-row: span 3 / span 3;
      display: flex;
      margin-right: 2rem;
      cursor: pointer;
      > div {
        h2 {
          margin-top: 2rem;
          font-size: 25px;
          font-weight: 800;
          a {
            color: #000;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
        p {
          margin-top: 1.5rem;
          font-size: 19.08px;
          line-height: 1.6;
        }
      }
      img {
        width: 550px;
      }
    }

    .div2 {
      grid-column: span 2 / span 2;
      grid-row: span 12 / span 12;
      grid-column-start: 7;
      margin-top: 1rem;
      cursor: pointer;
      .div2_text {
        p {
          margin-top: 10px;
          a {
            text-decoration: none;
            font-size: 17px;
            color: #000;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
        h5 {
          margin-top: 0.5rem;
          color: #777;
        }
      }
      button {
        margin-top: 1.3rem;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        &.learn-more {
          width: 14rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: rgb(10, 0, 115);
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $white;
              &.arrow {
                @include transition(
                  all,
                  0.45s,
                  cubic-bezier(0.65, 0, 0.076, 1)
                );
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: "";
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            padding-left: 1rem;
            margin: 0 0 0 1.85rem;
            color: blue;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
                background: $white;
                transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $white;
          }
        }
      }

      @supports (display: grid) {
        body {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.625rem;
          grid-template-areas: ". main main ." ". main main .";
        }

        #container {
          grid-area: main;
          align-self: center;
          justify-self: center;
        }
      }
    }

    .div3 {
      grid-column: span 4 / span 4;
      grid-row: span 9 / span 9;
      grid-row-start: 4;
      width: 650px;
      .div3_big_box {
        margin-top: 1rem;
        margin-bottom: -1rem;
      }
      .div3_box {
        margin-top: -1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;

        gap: 1rem;
        img {
          width: 200px;
          height: 130px;
          object-fit: cover;
        }
        h2 {
          font-size: 20px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          a {
            text-decoration: none;
            color: #000;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
      }
    }

    .div4 {
      grid-column: span 2 / span 2;
      grid-row: span 9 / span 9;
      grid-column-start: 5;
      grid-row-start: 4;
      margin-right: 2rem;
      .div4_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        cursor: pointer;
        background-color: #e2f1f6;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          &:hover {
            transform: translate(-8px, -10px);
            box-shadow: 7px 9px 0px 1px rgba(115, 196, 241, 0.42);
          }
        }
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
      .div5_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        height: 300px;
        cursor: pointer;
        background-color: #e2f6eb;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          transform: translate(-8px, -10px);
          -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
          -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
          box-shadow: 12px 9px 0px 1px #d0f4e0;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        h4 {
          font-size: 22px;
          margin-bottom: 10px;
        }
        p {
          font-size: 19px;
          line-height: 1.3;
        }
      }
      .div6_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        cursor: pointer;
        background-color: #f6eee2;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          transform: translate(-8px, -10px);
          -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
          -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
          box-shadow: 12px 9px 0px 1px #fde5bf;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
        }
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .text {
    margin-top: 1rem;
    display: flex;
    cursor: pointer;
    h2 {
      font-size: 32px;
    }
    i {
      font-size: 17px;
      padding: 0 20px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
  .Messages {
    .parent2 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 8px;
    }

    .div5 {
      grid-column: span 6 / span 6;
      grid-row: span 6 / span 6;
      width: 680px;
      a {
        text-decoration: none;
        img {
          width: 100%;
          height: 400px;
          margin-bottom: 5px;
          object-fit: cover;
        }
        h6 {
          color: #777;
          font-size: 12px;
          margin-bottom: 5px;
        }
        h2 {
          color: #000;
          font-size: 25px;
          margin-bottom: 5px;
        }
        p {
          color: #444;
          line-height: 1.4;
          font-size: 16.6px;
        }
      }
    }

    .div6 {
      grid-column: span 3 / span 3;
      grid-row: span 6 / span 6;
      grid-column-start: 7;
      .a-Img {
        text-decoration: none;
        img {
          width: 330px;
        }
        h6 {
          margin-top: 5px;
          color: #777;
        }
        h3 {
          margin-top: 10px;
          font-size: 20px;
          color: #111;
          transition: 0.3s;
        }
        &:hover {
          h3 {
            color: rgb(0, 0, 174);
          }
        }
      }
      .a-img2 {
        text-decoration: none;
        > div {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
            font-size: 10px;
            font-weight: 700;
          }
        }
        h3 {
          color: #111;
          font-size: 18px;
          margin-bottom: 16px;
          transition: 0.3s;
        }
        &:hover {
          h3 {
            color: rgb(0, 0, 174);
          }
        }
      }
      .a-img3 {
        text-decoration: none;
        p {
          margin-top: 1rem;
          color: #777;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        h3 {
          color: #111;
          font-size: 18px;
          margin-bottom: 16px;
        }
      }
    }

    .div7 {
      grid-column: span 3 / span 3;
      grid-row: span 3 / span 3;
      grid-column-start: 10;
      cursor: pointer;
      img {
        width: 350px;
        object-fit: cover;
        height: 185px;
      }
      p {
        margin-top: 5px;
        color: #777;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      a {
        text-decoration: none;
        h3 {
          color: #111;
          line-height: 1.4;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        h3 {
          color: rgb(2, 2, 245);
          line-height: 1.4;
        }
      }
    }

    .div8 {
      grid-column: span 3 / span 3;
      grid-row: span 3 / span 3;
      grid-column-start: 10;
      grid-row-start: 4;
      cursor: pointer;
      img {
        width: 350px;
        object-fit: cover;
        height: 185px;
      }
      p {
        margin-top: 5px;
        color: #777;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      a {
        text-decoration: none;
        h3 {
          color: #111;
          line-height: 1.4;
          transition: all 0.3s ease-in-out;
          font-size: 20px;
        }
      }

      &:hover {
        h3 {
          color: rgb(2, 2, 245);
          line-height: 1.4;
        }
      }
      button {
        margin-top: 1.3rem;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        &.learn-more {
          width: 9rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: relative;
            display: block;
            right: -1rem;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: rgb(10, 0, 115);
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $white;
              &.arrow {
                @include transition(
                  all,
                  0.45s,
                  cubic-bezier(0.65, 0, 0.076, 1)
                );
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: "";
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            right: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: blue;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
                background: $white;
                transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $white;
          }
        }
      }

      @supports (display: grid) {
        body {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.625rem;
          grid-template-areas: ". main main ." ". main main .";
        }

        #container {
          grid-area: main;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
  .grid-video {
    .video-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
      margin-top: 1rem;
    }
    .text-video {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin-top: 1.3rem;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        &.learn-more {
          width: 9rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: relative;
            display: block;
            right: 0rem;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: rgb(10, 0, 115);
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $white;
              &.arrow {
                @include transition(
                  all,
                  0.45s,
                  cubic-bezier(0.65, 0, 0.076, 1)
                );
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: "";
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            right: 0;
            right: 10px;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: blue;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
                background: $white;
                transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $white;
          }
        }
      }

      @supports (display: grid) {
        body {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.625rem;
          grid-template-areas: ". main main ." ". main main .";
        }

        #container {
          grid-area: main;
          align-self: center;
          justify-self: center;
        }
      }
    }
    .video-card {
      background-color: #dcdcdc;
      width: 340px;
      height: 370px;
      border-radius: 15px;
      cursor: pointer;
      .video-card-parent {
        position: relative;

        img {
          width: 340px;
          height: 200px;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          display: block;
          margin-bottom: 10px;
        }

        .video-play {
          width: 100%;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-430%, 120%);
            font-size: 40px;
            color: white;
            cursor: pointer;
            padding: 1px;
            background-color: #ffffff5c;
            backdrop-filter: blur(10px);
            border-radius: 100%;
            font-size: 35px;
          }
        }
      }
      .video-text {
        padding: 0 15px;
        h2 {
          font-size: 20px;
          margin-bottom: 16px;
          transition: all 0.3s ease-in-out;
        }
        p {
          color: #777;
          font-size: 12px;
          font-weight: 700;
        }
      }
      &:hover {
        h2 {
          color: rgb(0, 0, 174);
        }
      }
    }
  }
  .maqolalar {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
    .maqolalar-card {
      width: 340px;
      background-color: #dcdcdc;
      cursor: pointer;

      &:hover{
        h3{
          color: rgb(0, 0, 174);
        }
      }
      img {
        width: 100%;
        object-fit: cover;
      }

      .maqolalar-card-child {
        flex-direction: column;
        padding: 5px 10px;
        > div {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
            font-size: 12px;
            font-weight: 700;
          }
        }
        h3{
          font-size: 23px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .img-maqola{
      img{
        height: 226px;
      }
    }
  }
  .Surishtiruvi-section{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .div-mini{
      display: flex;
      align-items: center;
      gap: 20px;
      img{
        width: 130px;
        height: 130px;
        border-radius: 100%;
        object-fit: cover;
      }
      >div{
        h2{
          font-size: 30px;
          font-weight: 700;
        }
        p{
          font-size: 16px;
          color: #444;
        }
      }
    }
      button {
        margin-top: 1.3rem;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        &.learn-more {
          width: 14rem;
          height: auto;
          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: rgb(10, 0, 115);
            border-radius: 1.625rem;
            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: $white;
              &.arrow {
                @include transition(
                  all,
                  0.45s,
                  cubic-bezier(0.65, 0, 0.076, 1)
                );
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none;
                &::before {
                  position: absolute;
                  content: "";
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg);
                }
              }
            }
          }
          .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            padding-left: 1rem;
            margin: 0 0 0 1.85rem;
            color: blue;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
        &:hover {
          .circle {
            width: 100%;
            .icon {
              &.arrow {
                background: $white;
                transform: translate(1rem, 0);
              }
            }
          }
          .button-text {
            color: $white;
          }
        }
      }
  }
}
