main {
  .hero {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    .parent {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 8px;
    }

    .div1 {
      grid-column: span 6 / span 6;
      grid-row: span 3 / span 3;
      display: flex;
      margin-right: 2rem;
      cursor: pointer;
      > div {
        h2 {
          margin-top: 2rem;
          font-size: 25px;
          font-weight: 800;
          a {
            color: #000;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
        p {
          margin-top: 1.5rem;
          font-size: 19.08px;
          line-height: 1.6;
        }
      }
      img {
        width: 550px;
      }
    }

    .div2 {
      grid-column: span 2 / span 2;
      grid-row: span 12 / span 12;
      grid-column-start: 7;
      margin-top: 1rem;
      cursor: pointer;
      .div2_text {
        p {
          margin-top: 10px;
          a {
            text-decoration: none;
            font-size: 17px;
            color: #000;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
        h5 {
          margin-top: 0.5rem;
          color: #777;
        }
      }
    }

    .div3 {
      grid-column: span 4 / span 4;
      grid-row: span 9 / span 9;
      grid-row-start: 4;
      width: 650px;
      .div3_big_box {
        margin-top: 1rem;
        margin-bottom: -1rem;
      }
      .div3_box {
        margin-top: -1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        img {
          width: 220px;
        }
        h2 {
          font-size: 22px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          a {
            text-decoration: none;
            color: #000;
            &:hover {
              color: rgb(3, 3, 187);
            }
          }
        }
      }
    }

    .div4 {
      grid-column: span 2 / span 2;
      grid-row: span 9 / span 9;
      grid-column-start: 5;
      grid-row-start: 4;
      margin-right: 2rem;
      .div4_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        cursor: pointer;
        background-color: #e2f1f6;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          &:hover {
            transform: translate(-8px, -10px);
            box-shadow: 7px 9px 0px 1px rgba(115, 196, 241, 0.42);
          }
        }
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
      .div5_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        cursor: pointer;
        background-color: #e2f6eb;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          transform: translate(-8px, -10px);
          -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
          -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
          box-shadow: 12px 9px 0px 1px #d0f4e0;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        h4 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
      .div6_mini_box {
        transition: all 0.2s ease-in-out;
        margin-top: 2rem;
        padding: 20px;
        cursor: pointer;
        background-color: #f6eee2;
        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
          i {
            border-radius: 50%;
            color: #fff;
            padding-top: 2px;
            padding: 2px 3px;
            background-color: rgb(3, 3, 187);
            font-size: 10px;
          }
          p {
            color: #777;
          }
        }

        &:hover {
          transform: translate(-8px, -10px);
          -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
          -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
          box-shadow: 12px 9px 0px 1px #fde5bf;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
        }
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
