@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #e3e3e3, #fff);
  font-family: "Inter", monospace;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

header .navbar {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
header .navbar ul {
  display: flex;
  gap: 2px;
  margin-right: 10rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  transition: all 0.3s ease;
  padding: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.113);
  font-size: 13px;
}
header .navbar ul li a:hover {
  color: #007aff;
}
header .navbar .menu {
  display: flex;
  align-items: center;
}
header .navbar .menu .language {
  margin-top: 5.1rem;
  height: 200px;
  position: absolute;
  top: 0;
  right: 16%;
  width: 110px;
}
header .navbar .menu .language p {
  margin-top: 0.6rem;
  padding: 13px;
}
header .navbar .menu .language #p {
  margin-top: 3px;
  font-size: 15px;
  background-color: transparent;
  padding: 14px;
  margin-right: -5px;
}
header .navbar .menu .language .p {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: rgba(221, 221, 221, 0.462745098);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 1px;
  cursor: pointer;
}
header .navbar .menu .language .p i {
  margin-top: 3px;
  font-size: 20px;
  margin-right: -14px;
}
header .navbar .menu .language #dropdown {
  display: block;
  margin-top: 13px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100px;
  width: 115px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
}
header .navbar .menu .language #dropdown.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
header .navbar .menu .language #dropdown.active p {
  background-color: #fff;
  margin-top: -5px;
  transition: all 0.3s ease-in-out;
}
header .navbar .menu .language #dropdown.active p:hover {
  transform: scale(1.005);
  background-color: #f4f4f4;
}
header .navbar .menu .language #dropdown.active .english {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar .menu .search-box {
  position: relative;
  display: inline-block;
}
header .navbar .menu .search-box #search {
  margin-right: 2rem;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.462745098);
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
}
header .navbar .menu .search-box .search-input {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  opacity: 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
header .navbar .menu .search-box.active .search-input {
  width: 280px;
  opacity: 1;
}
header .navbar .menu #menu i {
  font-size: 20px;
}
header .navbar #closeBtn i {
  font-size: 20px;
  display: none;
}
header .menu_box {
  margin-top: -4.5rem;
  background-color: #f4f4f4;
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
  border-radius: 10px;
  z-index: 11111;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
  position: absolute;
  width: 92.3%;
}
header .menu_box p {
  color: rgb(3, 3, 77);
  font-size: 20px;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
header .menu_box p:hover {
  color: rgb(3, 3, 187);
}
header .menu_box.active {
  opacity: 1;
  max-height: 500px;
  pointer-events: auto;
  z-index: 1111;
}
header .menu_box #moonSumBtn {
  margin-top: 10px;
  display: flex;
  gap: 13px;
  border: 1px solid #000;
  width: 70px;
  border-radius: 30px;
  margin-left: 12rem;
  font-size: 20px;
  padding: 5px;
}
header .menu_box #moonSumBtn .sun {
  color: rgb(57, 57, 4);
}

.navbar_div {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: -1;
  border-top: 37px solid #dad7d7;
  border-left: 150px solid transparent;
  cursor: pointer;
  margin-bottom: 1rem;
}
.navbar_div p {
  margin-top: -2.4rem;
}
.navbar_div p:hover {
  color: #007aff;
}
.navbar_div p:active {
  color: #fff;
}

.hero_menu ul {
  margin-top: -2.2rem;
  display: flex;
  justify-content: space-between;
  z-index: -2;
  position: relative;
  border-bottom: 1px solid rgba(70, 70, 70, 0.2352941176);
  padding: 16px;
}
.hero_menu ul li {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.hero_menu ul li:hover {
  color: #007aff;
}

i {
  cursor: pointer;
}

a {
  cursor: pointer;
}

main .hero {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
main .hero .parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
}
main .hero .div1 {
  grid-column: span 6/span 6;
  grid-row: span 3/span 3;
  display: flex;
  margin-right: 2rem;
  cursor: pointer;
}
main .hero .div1 > div h2 {
  margin-top: 2rem;
  font-size: 25px;
  font-weight: 800;
}
main .hero .div1 > div h2 a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
main .hero .div1 > div h2 a:hover {
  color: rgb(3, 3, 187);
}
main .hero .div1 > div p {
  margin-top: 1.5rem;
  font-size: 19.08px;
  line-height: 1.6;
}
main .hero .div1 img {
  width: 550px;
}
main .hero .div2 {
  grid-column: span 2/span 2;
  grid-row: span 12/span 12;
  grid-column-start: 7;
  margin-top: 1rem;
  cursor: pointer;
}
main .hero .div2 .div2_text p {
  margin-top: 10px;
}
main .hero .div2 .div2_text p a {
  text-decoration: none;
  font-size: 17px;
  color: #000;
  transition: all 0.2s ease-in-out;
}
main .hero .div2 .div2_text p a:hover {
  color: rgb(3, 3, 187);
}
main .hero .div2 .div2_text h5 {
  margin-top: 0.5rem;
  color: #777;
}
main .hero .div2 button {
  margin-top: 1.3rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
main .hero .div2 button.learn-more {
  width: 12rem;
  height: auto;
}
main .hero .div2 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(10, 0, 115);
  border-radius: 1.625rem;
}
main .hero .div2 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
main .hero .div2 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
main .hero .div2 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
main .hero .div2 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: blue;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
main .hero .div2 button:hover .circle {
  width: 100%;
}
main .hero .div2 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
main .hero .div2 button:hover .button-text {
  color: #fff;
}
@supports (display: grid) {
  main .hero .div2 body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
  main .hero .div2 #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
main .hero .div3 {
  grid-column: span 4/span 4;
  grid-row: span 9/span 9;
  grid-row-start: 4;
  width: 650px;
}
main .hero .div3 .div3_big_box {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
main .hero .div3 .div3_box {
  margin-top: -1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  gap: 1rem;
}
main .hero .div3 .div3_box img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}
main .hero .div3 .div3_box h2 {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .hero .div3 .div3_box h2 a {
  text-decoration: none;
  color: #000;
}
main .hero .div3 .div3_box h2 a:hover {
  color: rgb(3, 3, 187);
}
main .hero .div4 {
  grid-column: span 2/span 2;
  grid-row: span 9/span 9;
  grid-column-start: 5;
  grid-row-start: 4;
  margin-right: 2rem;
}
main .hero .div4 .div4_mini_box {
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  padding: 20px;
  cursor: pointer;
  background-color: #e2f1f6;
}
main .hero .div4 .div4_mini_box > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main .hero .div4 .div4_mini_box > div i {
  border-radius: 50%;
  color: #fff;
  padding-top: 2px;
  padding: 2px 3px;
  background-color: rgb(3, 3, 187);
  font-size: 10px;
}
main .hero .div4 .div4_mini_box > div p {
  color: #777;
}
main .hero .div4 .div4_mini_box:hover:hover {
  transform: translate(-8px, -10px);
  box-shadow: 7px 9px 0px 1px rgba(115, 196, 241, 0.42);
}
main .hero .div4 .div4_mini_box h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
main .hero .div4 .div4_mini_box p {
  font-size: 18px;
}
main .hero .div4 .div5_mini_box {
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  padding: 20px;
  height: 300px;
  cursor: pointer;
  background-color: #e2f6eb;
}
main .hero .div4 .div5_mini_box > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main .hero .div4 .div5_mini_box > div i {
  border-radius: 50%;
  color: #fff;
  padding-top: 2px;
  padding: 2px 3px;
  background-color: rgb(3, 3, 187);
  font-size: 10px;
}
main .hero .div4 .div5_mini_box > div p {
  color: #777;
}
main .hero .div4 .div5_mini_box:hover {
  transform: translate(-8px, -10px);
  -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
  -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
  box-shadow: 12px 9px 0px 1px #d0f4e0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
main .hero .div4 .div5_mini_box h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
main .hero .div4 .div5_mini_box p {
  font-size: 19px;
  line-height: 1.3;
}
main .hero .div4 .div6_mini_box {
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  padding: 20px;
  cursor: pointer;
  background-color: #f6eee2;
}
main .hero .div4 .div6_mini_box > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main .hero .div4 .div6_mini_box > div i {
  border-radius: 50%;
  color: #fff;
  padding-top: 2px;
  padding: 2px 3px;
  background-color: rgb(3, 3, 187);
  font-size: 10px;
}
main .hero .div4 .div6_mini_box > div p {
  color: #777;
}
main .hero .div4 .div6_mini_box:hover {
  transform: translate(-8px, -10px);
  -webkit-box-shadow: 12px 9px 0px 1px #d0f4e0;
  -moz-box-shadow: 12px 9px 0px 1px #d0f4e0;
  box-shadow: 12px 9px 0px 1px #fde5bf;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
main .hero .div4 .div6_mini_box h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
main .hero .div4 .div6_mini_box p {
  font-size: 18px;
}
main .text {
  margin-top: 1rem;
  display: flex;
  cursor: pointer;
}
main .text h2 {
  font-size: 32px;
}
main .text i {
  font-size: 17px;
  padding: 0 20px;
  transition: 0.3s;
}
main .text i:hover {
  transform: scale(1.15);
}
main .Messages .parent2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
}
main .Messages .div5 {
  grid-column: span 6/span 6;
  grid-row: span 6/span 6;
  width: 680px;
}
main .Messages .div5 a {
  text-decoration: none;
}
main .Messages .div5 a img {
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
  object-fit: cover;
}
main .Messages .div5 a h6 {
  color: #777;
  font-size: 12px;
  margin-bottom: 5px;
}
main .Messages .div5 a h2 {
  color: #000;
  font-size: 25px;
  margin-bottom: 5px;
}
main .Messages .div5 a p {
  color: #444;
  line-height: 1.4;
  font-size: 16.6px;
}
main .Messages .div6 {
  grid-column: span 3/span 3;
  grid-row: span 6/span 6;
  grid-column-start: 7;
}
main .Messages .div6 .a-Img {
  text-decoration: none;
}
main .Messages .div6 .a-Img img {
  width: 330px;
}
main .Messages .div6 .a-Img h6 {
  margin-top: 5px;
  color: #777;
}
main .Messages .div6 .a-Img h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #111;
}
main .Messages .div6 .a-img2 {
  text-decoration: none;
}
main .Messages .div6 .a-img2 > div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
main .Messages .div6 .a-img2 > div i {
  border-radius: 50%;
  color: #fff;
  padding-top: 2px;
  padding: 2px 3px;
  background-color: rgb(3, 3, 187);
  font-size: 10px;
}
main .Messages .div6 .a-img2 > div p {
  color: #777;
  font-size: 10px;
  font-weight: 700;
}
main .Messages .div6 .a-img2 h3 {
  color: #111;
  font-size: 18px;
  margin-bottom: 16px;
}
main .Messages .div6 .a-img3 {
  text-decoration: none;
}
main .Messages .div6 .a-img3 p {
  margin-top: 1rem;
  color: #777;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
main .Messages .div6 .a-img3 h3 {
  color: #111;
  font-size: 18px;
  margin-bottom: 16px;
}
main .Messages .div7 {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 10;
}
main .Messages .div8 {
  grid-column: span 3/span 3;
  grid-row: span 3/span 3;
  grid-column-start: 10;
  grid-row-start: 4;
}

/*# sourceMappingURL=style.css.map */
