@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(227, 227, 227, 0.7294117647);
  font-family: "Inter", monospace;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

header .navbar {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
header .navbar ul {
  display: flex;
  gap: 2px;
  margin-right: 10rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  transition: all 0.3s ease;
  padding: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.219);
  font-size: 13px;
}
header .navbar ul li a:hover {
  color: #007aff;
}
header .navbar .menu {
  display: flex;
  align-items: center;
}
header .navbar .menu .language {
  margin-top: 5.1rem;
  height: 200px;
  position: absolute;
  top: 0;
  right: 16%;
  width: 110px;
}
header .navbar .menu .language p {
  margin-top: 0.6rem;
  padding: 13px;
}
header .navbar .menu .language #p {
  margin-top: 3px;
  font-size: 15px;
  background-color: transparent;
  padding: 14px;
  margin-right: -5px;
}
header .navbar .menu .language .p {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: rgba(221, 221, 221, 0.462745098);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 1px;
  cursor: pointer;
}
header .navbar .menu .language .p i {
  margin-top: 3px;
  font-size: 20px;
  margin-right: -14px;
}
header .navbar .menu .language #dropdown {
  display: block;
  margin-top: 13px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100px;
  width: 115px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
}
header .navbar .menu .language #dropdown.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
header .navbar .menu .language #dropdown.active p {
  background-color: #fff;
  margin-top: -5px;
  transition: all 0.3s ease-in-out;
}
header .navbar .menu .language #dropdown.active p:hover {
  transform: scale(1.005);
  background-color: #f4f4f4;
}
header .navbar .menu .language #dropdown.active .english {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar .menu .search-box {
  position: relative;
  display: inline-block;
}
header .navbar .menu .search-box #search {
  margin-right: 2rem;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.462745098);
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
}
header .navbar .menu .search-box .search-input {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  opacity: 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
header .navbar .menu .search-box.active .search-input {
  width: 280px;
  opacity: 1;
}
header .navbar .menu #menu i {
  font-size: 20px;
}
header .navbar #closeBtn i {
  font-size: 20px;
  display: none;
}
header .menu_box {
  margin-top: -3.5rem;
  background-color: #f4f4f4;
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
  border-radius: 10px;
  z-index: 11111;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
header .menu_box p {
  color: rgb(3, 3, 77);
  font-size: 20px;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
header .menu_box p:hover {
  color: rgb(3, 3, 187);
}
header .menu_box.active {
  opacity: 1;
  max-height: 500px;
  pointer-events: auto;
  z-index: 1111;
}
header .menu_box #moonSumBtn {
  margin-top: 10px;
  display: flex;
  gap: 13px;
  border: 1px solid #000;
  width: 70px;
  border-radius: 30px;
  margin-left: 12rem;
  font-size: 20px;
  padding: 5px;
}
header .menu_box #moonSumBtn .sun {
  color: rgb(57, 57, 4);
}

.navbar_div {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  z-index: -1;
  border-top: 37px solid #e2e2e2;
  border-left: 150px solid transparent;
  cursor: pointer;
}
.navbar_div p {
  margin-top: -2.4rem;
}
.navbar_div p:hover {
  color: #007aff;
}
.navbar_div p:active {
  color: #fff;
}

.hero_menu ul {
  margin-top: -2.2rem;
  display: flex;
  justify-content: space-between;
  z-index: -2;
  position: relative;
  border-bottom: 1px solid rgba(70, 70, 70, 0.2352941176);
  padding: 16px;
}
.hero_menu ul li {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.hero_menu ul li:hover {
  color: #007aff;
}

i {
  cursor: pointer;
}

main .hero {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
main .hero .hero_box {
  width: 520px;
  margin-right: 1rem;
}
main .hero .hero_box p {
  margin-top: 1rem;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 1.5;
}
main .hero .hero_box h1 {
  width: 90%;
  font-size: 30px;
}
main .hero img {
  width: 500px;
}

/*# sourceMappingURL=style.css.map */
